doctype html
html(lang='en')
	head
		title Direct Access - Analytics
		
	body
		h1 Analytics
		table(border='1')
			tr
				td(style='display:grid')
					canvas#handi_img(style='grid-column:1;grid-row:1;z-index:3')
					img(src="/images/test-pl.jpg" style='grid-column:1;grid-row:1;z-index:2')
		script.
			var c = document.getElementById("handi_img");
			var ctx = c.getContext("2d");
			ctx.lineWidth = "5";
			ctx.strokeStyle = "green";
			ctx.rect(60, 60, 60, 60);
			ctx.stroke();