doctype html
html(lang='en')
	head
		title Direct Access - Create Report
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		include menu
		h1 Create Report
		form(method='POST', action='/building_report')
			div.form-style-2
				label.label(for='project') Project:
				input#project.form-control.input-field(type='text' name='project' style='margin-bottom: 10px;')

			div.form-style-2
				label.label(for='buildingtype') Building Type:
				select(name='dropDown', id='' class='select-field')
					each val in ['School' , 'Retail' , 'Hotel']
						option=val

			div.form-style-2
				label.label(for='building') Building Name:
				input#building.form-control.input-field(type='text' name='building' style='margin-bottom: 10px;')

			div.form-style-2
				label.label(for='location') Location:
				input#location.form-control.input-field(type='text' name='location' style='margin-bottom: 10px;')

			div.form-style-2
				label.label(for='date') Date:
				input#date.form-control.input-field(type='date' name='date' style='margin-bottom: 10px;')

			div.form-style-2
				label.label(for='surveyors') Surveyors:
				input#surveyors.form-control.input-field(type='test' name='surveyors' style='margin-bottom: 10px;')
					
			input(type='submit', value='Next')


