doctype html
html(lang='en')
	head
		title Direct Access
		link(rel='stylesheet', href='/stylesheets/style.css', type='text/css')
	body
		div.left_menu
			div.remark
				h3 Direct Access
				p Helping build inclusive spaces ...
			include menu.pug
		div.main

