-
  var navigation = [
    {
      id: 'index',
      link: '/',
      title: 'Home',
    },
    {
      id: 'create_report',
      link: 'create_report',
      title: 'Create Report',
    },
    {
      id: 'view_reports',
      link: 'view_reports',
      title: 'View Reports',
    },
    {
      id: 'analytics',
      link: 'analytics',
      title: 'Analytics',
    },
    {
      id: 'getconnected',
      link: 'getconnected',
      title: 'Get Connected',
    }
  ]
div.side-bar-menu
  p.filler  
  nav.navigation
  ul.main-menu
    each item in navigation
      li.sub-menu
        a(href=item.link, class='navigation__link--'+item.id).navigation__link=item.title
        