
div.side-bar-menu
    p.filler
    ul.main-menu
        li.sub-menu 
            a(href="www.cnn.com") Create Report
        li.sub-menu 
            a(href="#") View Report
        li.sub-menu 
            a(href="#") Analytics